#logo {

    background-color: blue;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;

}

    
.wrapper {

    background-color: rgb(219, 218, 218)
}



.social {
    width: 62px;
    height: 62px;
}


#headshot {
    float: left;
    height: 200px;
    width: 150px;
    margin-right: 5px;
}

.float-left {

    clear: both;
}



p {

    padding: 5px;
}

.sidebar {

    border: 2px solid black;
} 