.container {

    padding-left: 10%;
}


.btn .btn-primary {

    color: white;
}

    
.wrapper {

    background-color: rgb(219, 218, 218)
}



.social {
    width: 62px;
    height: 62px;
}


#headshot {
    float: left;
    height: 120px;
    width: 100px;
    margin-right: 5px;
}

.float-left {

    clear: both;
}



p {

    padding: 5px;
}

.sidebar {
    
   
} 